#CLOCK
NET "ClkPort" LOC = V10 | IOSTANDARD = "LVCMOS33";
# Disable MT45W8MW16BGX
Net "MemOE" LOC = L18 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L46N_FOE_B_M1DQ3, Sch name = P30-OE
Net "MemWR" LOC = M16 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L47P_FWE_B_M1DQ0, Sch name = P30-WE
Net "RamCS" LOC = L15 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L42P_GCLK7_M1UDM, Sch name = MT-CE

## Keyboard
NET "PS2KeyboardData" LOC = J13 | PULLUP | IOSTANDARD = LVCMOS33;
NET "PS2KeyboardClk" LOC  = L12 | PULLUP | IOSTANDARD = LVCMOS33;
## Buttons
NET "BtnC" LOC = T10 | IOSTANDARD = "LVCMOS33";
## FlashCS
Net "FlashCS" LOC = L17 | IOSTANDARD = LVCMOS33; #Bank = 1, pin name = IO_L46P_FCS_B_M1DQ2, Sch name = P30-CE
## QuadSpiFlashCS
Net "QuadSpiFlashCS" LOC = V3  | IOSTANDARD = LVCMOS33; #Bank = MISC, pin name = IO_L65N_CSO_B_2, Sch name = CS

## VGA
NET "vga_r" LOC = N7 | IOSTANDARD = "LVCMOS33";
NET "vga_g" LOC = V6 | IOSTANDARD = "LVCMOS33";
NET "vga_b" LOC = T7 | IOSTANDARD = "LVCMOS33";
NET "vga_h_sync" LOC = N6 | IOSTANDARD = "LVCMOS33";
NET "vga_v_sync" LOC = P7 | IOSTANDARD = "LVCMOS33";
		

NET "boton_arriba_in" LOC = A8 | IOSTANDARD = "LVCMOS33";													
NET "boton_abajo_in" LOC = C9 | IOSTANDARD = "LVCMOS33"; 											
NET "boton_izq_in" LOC = C4 | IOSTANDARD = "LVCMOS33";
NET "boton_der_in" LOC = D9 | IOSTANDARD = "LVCMOS33"; 
NET "boton_elige_in" LOC = B8 | IOSTANDARD = "LVCMOS33"; 

NET where_fila[2] LOC = T11 | IOSTANDARD = "LVCMOS33";
NET where_fila[1] LOC = R11 | IOSTANDARD = "LVCMOS33";
NET where_fila[0] LOC = N11 | IOSTANDARD = "LVCMOS33";

NET where_columna[2] LOC = U15 | IOSTANDARD = "LVCMOS33";
NET where_columna[1] LOC = V16 | IOSTANDARD = "LVCMOS33";
NET where_columna[0] LOC = U16 | IOSTANDARD = "LVCMOS33";

NET selector_menu LOC = T5 | IOSTANDARD = "LVCMOS33";

	